/VUpdater-Core/vupdater-proto/build/
/VUpdater-Core/vupdater-proto/.nb-gradle/
/VUpdater-Core/vupdater-proto/.gradle/
/VUpdater-Core/vupdater-proto/src/

/VUpdater-Core/build/
/VUpdater-Core/.nb-gradle/
/VUpdater-Core/.gradle/
